/*
--- 01 Typography System ---

-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font family
Google font : ""
default
-Font weight
default : 400
heading-primary:700

-Line Height
default : 1
heading-primary:1.1

--- 02 Color ---

-Background : #070500
-Primary : #FFBD33
-secondary-bg : #130c00
-Tint : 
-Shades :
-Accents :
-Grays : 
-Text : #FBF8F5

--- 03 Shadow ---

--- 04 Border Radius ---
default : 9px

--- 05 White space ---

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --bg-primary: #070500;
  --bg-secondary: #130c00;
  --primary: #ffbd33;
  --text: #fbf8f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 7px solid rgba(255, 255, 255, 0.432);
}
html {
  font-size: 62.5%; /*10/16=0.65*100%(10px)*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  color: var(--text);
  line-height: 1;
  overflow-x: hidden;
}
/************************************************************************/
/*General Component*/
/************************************************************************/
.container {
}
/*------Grid components---------*/
.grid {
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
/*------Header components---------*/
.heading-primary,
.heading-secondary {
}
.heading-primary {
}
.heading-secondary {
}
.heading-tertiary {
}
.sub-heading {
}
/*------Button components---------*/
.btn:link,
.btn:visited {
}

.btn--full:link,
.btn--full:visited {
}
.btn-right-sm {
} /*helper class*/

.btn--full:hover,
.btn--full:active {
}
.btn--outline:link,
.btn--outline:visited {
}
.btn--outline:hover,
.btn--outline:active {
}
.btn-form {
}
.btn-form:hover {
}
strong {
  font-weight: 600;
}
/*------Tag components---------*/
.tags {
}
.tag {
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
/*------Link components---------*/
.link:visited,
.link:link {
}
.link:hover,
.link:active {
}
.center-text {
  text-align: center;
}
/*------List components---------*/
.list {
}
.list-item {
}
.list-icon {
}
